.form-section.card-section, .form-dashboard-section{
	margin-bottom: 0;
}

.frappe-card, .form-section.card-section, .form-dashboard-section{
	border-radius: 0;
	box-shadow: var(--card-bg);
	padding: var(--padding-xs);
	border-bottom: solid 1px var(--gray-200);
	padding-bottom: 0;
	border-image: linear-gradient(to right,var(--card-bg), var(--skeleton-bg), var(--skeleton-bg), var(--card-bg)) 30;
}

.form-section .section-head, .form-dashboard-section .section-head{
	margin-bottom: var(--margin-xs);
	padding-top: var(--padding-xs);
	padding-bottom: var(--padding-xs);
}

.comment-box{
	margin-top: var(--margin-lg);
	border-radius: 0;
	box-shadow: var(--card-bg);
}
