.form-section.card-section, .form-dashboard-section{
	margin-bottom: 0;
}

.frappe-card, .form-section.card-section, .form-dashboard-section{
	border-radius: 0;
	box-shadow: var(--card-bg);
	padding: var(--padding-xs);
	border-bottom: solid 1px var(--gray-200);
	padding-bottom: 0;
	border-image: linear-gradient(to right,var(--card-bg), var(--skeleton-bg), var(--skeleton-bg), var(--card-bg)) 30;
}

.form-section .section-head, .form-dashboard-section .section-head{
	margin-bottom: var(--margin-xs);
	padding-top: var(--padding-xs);
	padding-bottom: var(--padding-xs);
}

.comment-box{
	margin-top: var(--margin-lg);
	border-radius: 0;
	box-shadow: var(--card-bg);
}

.layout-main-section.frappe-card, .layout-main-section.form-section.card-section, .layout-main-section.form-dashboard-section{
	border: none;
	border-radius: 0;
}

.list-paging-area .btn-group, .footnote-area .btn-group,
.form-links .document-link .document-link-badge, .form-links .document-link .report-link-badge,
.btn, .indicator-pill, .indicator-pill-right, .page-actions .btn, button.data-pill,
.form-links .document-link .document-link-badge .count, .form-links .document-link .report-link-badge .count,
.form-message, .indicator-pill::before, .indicator-pill-right::after{
	border-radius: 0;
}

.form-control, input[type="checkbox"], .like-disabled-input,
.frappe-control[data-fieldtype="MultiSelectPills"].has-error .control-input,
.frappe-control[data-fieldtype="Table MultiSelect"].has-error .control-input,
.awesomplete > ul > li,
.awesomplete > ul,
.datepicker,
.signature-field,
.ql-toolbar.ql-snow,
.ql-container.ql-snow,
.ql-bubble .ql-editor{
	border-radius: 0;
}

.widget, .dropdown-item, .dropdown-menu, .modal-content, .desk-sidebar .standard-sidebar-item,
.widget.onboarding-widget-box .widget-body .onboarding-step .step-index,
.widget.onboarding-widget-box .widget-body .onboarding-step,
.widget.links-widget-box.skeleton-card,
.widget.shortcut-widget-box.skeleton-card,
.widget-group-title.skeleton-card,
.modal-body .theme-grid .background,
.modal-body .theme-grid .foreground,
.modal-body .theme-grid .text,
.modal-body .theme-grid .primary,
.modal-body .theme-grid .background .preview-check{
	border-radius: 0;
}

[data-page-route="Workspaces"] .layout-main .layout-side-section {
  margin-right: var(--margin-xs);
}

.timeline-dot, .timeline-dot::before{
	border-radius: 0;
}

.widget-group .grid-col-3, .widget-group .grid-col-1{
	-moz-column-gap: 0;
	column-gap: 0;
	row-gap: 5px;
}

.widget-group, .widget.onboarding-widget-box{
	margin-bottom: var(--margin-lg);
}
